<!-- Deklarasi dokumen HTML dengan bahasa Inggris -->
<html lang="en">

<head>
    <!-- Menetapkan karakter encoding dan konfigurasi tampilan -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Menetapkan judul halaman -->
    <title>Image Enhancement Web App</title>
    <!-- Mengimpor CSS Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Mengimpor font-awesome untuk ikon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Mengimpor JavaScript Bootstrap dependencies -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Menetapkan gaya CSS kustom -->
    <style>
        /* Gaya untuk kontainer float */
        .float-container {
            border: 3px solid #fff;
            padding: 20px;
        }
        
        /* Gaya untuk anak float dalam kontainer */
        .float-child {
            width: 50%;
            float: left;
            padding: 20px;
            border: 2px solid red;
        }  

        /* Gaya untuk penempatan teks tengah */
        .a {
            text-align: center;
        }
    </style>
</head>

<body>
    <!-- Navbar menggunakan Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <!-- Judul di navbar -->
        <a class="navbar-brand" href="#">Enhancement Web App</a>
      
        <!-- Daftar navigasi di navbar -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- Tautan menuju halaman beranda -->
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- Tautan menuju halaman lain bisa ditambahkan di sini -->
          </ul>
        </div>
      </nav>
    <!-- Kontainer utama menggunakan Bootstrap -->
    <div class="container">
        <!-- Blok konten yang bisa diperluas oleh halaman-halaman yang memanfaatkan template ini -->
        <div id="content" style="margin-top:2em">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>
